@{
    ViewBag.Title = "About";
}
<center ><h1 style="font-family: 'Century Gothic'"><strong>About Us</strong></h1></center>
<br/>
<div class="container" style="background-color: white">
<div class="row">
    <div class="col-md-4">
        <br /><br /><center>
            <img src="https://s-media-cache-ak0.pinimg.com/564x/e6/e0/67/e6e067dfcb840314d32b155304412814.jpg" height="300" width="300">
        </center>
    </div>
    <br /><br /><br />
    <div class="col-md-8">
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-right: 20px" >
            <font size="5">

                &emsp; We are a group of returned missionaries that love the Lord and want 
                to help misssionaries feel confident in their ability to learn and grow.  We are here to help future
                missionaries and those that are curious to find answers to their questions about the life of a missionary.
                Returned missionaries have answered questions and are willing to answer more. Choose a question and
                you will find an answer. Please explore this site feel welcome to feel the spirit of missionary work!

            </font>
        </p>
    </div>
</div>
    <br /><br />
    </div>


