@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: lightslategray"class="jumbotron">
    <center><h1 style="font-family: 'Century Gothic'">Called to Serve!</h1></center>
    <center><img src="~/IMGs/morms.jpg" class="img-thumbnail" /></center>
    <br />
    <center> <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>On this website you can hear the words of missionaries who have fulfilled their duties as representatives of Christ! You can even ask them question!</b></p></center>
    <center><p><a class="btn btn-primary btn-lg" href="@Url.Action("Missions", "Home")">See the missions!  &raquo;</a></p></center>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-left:-15px">
            <center><img class=" thumbnail" src="https://www.lds.org/youth/bc/youth/article/preparing-to-serve-suggestions-for-young-women/images/Sister-Missionaries-517x268-2012-12-06.jpg" alt="Generic placeholder image" style="border: 0; height:200px"></center>
            
            <h3 class="text-center"><b>Church Website</b>
            </h3>
            <center><a class="btn btn-info center-block" href="http://www.lds.org">Go to LDS.org &raquo;</a></center>
        </div>

        <div class="col-md-4">
            <center><img class=" thumbnail" src="https://www.mormon.org/bc/content/assets/img/people/eng/portraits/portrait_detail/jarem/Jarem-Frye_01-mormon.jpg" alt="Generic placeholder image"  style="border: 0; height:200px"></center>
            
            <h3 class="text-center">
                <b>Meet the Mormons</b>
            </h3>
            <p><center><a class="btn btn-info center-block" href="http://mormon.org">Go to Mormon.org &raquo;</a></center></p>
        </div>

        <div class="col-md-4">
            <img class=" thumbnail" src="https://www.lds.org/youth/bc/youth/article/why-is-jesus-christ-important-in-my-life/images/Why-is-Jesus-Christ-Important-in-My-Life-main-1138511.jpg" alt="Generic placeholder image"  style="border: 0; height: 200px">
            
            <h3 class="text-center">
                <b>Videos on the Life of Christ</b>
            </h3>
            <p><center><a class="btn btn-info center-block" href="http://lds.org/bible-videos">Go to Videos &raquo;</a></center></p>
        </div>
    </div>
    <div class="jumbotron" style="background-color:lightslategray; margin-left:-15px">
        <center><h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b>“No missionary can determine the lasting effects of his or her labors.” </b> - Elder Richard G. Scott</h3></center>
        <br />
        <center><iframe width="640" height="360" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allowfullscreen></iframe></center>   
     </div>
</div>
