@{
    ViewBag.Title = "Missions";
}

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <center><h1 style="font-family: 'Century Gothic'"><strong>Select a Mission</strong></h1></center>
</body>

    <div class="container" style="margin-left: -15px;">
        <div class="dropdown" style="display: table; margin: 0 auto;">
            <button class="btn btn-default dropdown-toggle btn-lg" type="button" data-toggle="dropdown">
                Missions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="float:none">
                <li>@Html.ActionLink("Brazil, Brasilia", "MissionDisplay", "Home", new { mission = "brasilia" }, null)</li>
                <li>@Html.ActionLink("Utah, Salt Lake City", "MissionDisplay", "Home", new { mission = "SLC" }, null)</li>
                <li>@Html.ActionLink("Spain, Madrid", "MissionDisplay", "Home", new { mission = "madrid" }, null)</li>

            </ul>

        </div>
    </div>
<br />
<br />


